
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tessst?useSSL=false&serverTimezone=Asia/Ho_Chi_Minh
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: none
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  address: 0.0.0.0
  port: 8080
  application:
    name: inventory-service
